body{
		width: 100%;
	background-color: #C0C0C0;
}
#top
{
	height:100px;
	background-color:#C0C0C0;
	font-size: 30pt;
	padding-top: 10px;
	color: green;
	width: 1345px;
    text-align: center;
	/*border:2px black solid;*/

	
}

.page {
	display: inline;
	width: 1000px;
	padding: 15px 10px;
	text-align: center;
	height: 50px;
	line-height: 30px;
	margin: 54px;
	margin-right: 69px;
	font-weight:bold;
	font-size: 20px;

	}
.page:hover{
	background: #D5973C;
	height: 2em;
	padding-top: .3em;
	position: relative;
	line-height: 30px;
	top:-.1em;
	bottom: 0em;
	border-radius: .3em .3em .0 .0;
	
	
}
form{
	margin-top: -15px;
	display: block;
	height: 37px;
	background-color: #916A31;
	/*color: white;*/
	width:1350px;
}
#new
{
	height:40px;
	width:200px;
	background-color:#CCCCFF;
	font-size:20pt;
	font-color:green;
	
	top: 0%;
	padding-right: 10px;
	text-align: center;
}

#edit
{
	height:40px;
	width: 200px;
	margin-left:200px;
	margin-top: -40px;
	background-color:#CCCCFF;
	font-size:20pt;
	font-color:green;
	
     top: 0%;
     text-align: center;
}
#delete
{
	height:40px;
	width: 200px;
	//margin-left: 400px;
	//margin-top: -40px;
	background-color:#CCCCFF;
	font-size:20pt;
	font-color:green;
	
	text-align: center;
}
#prev
{
	height:40px;
    width: 200px;
   // margin-left: 600px;
   // margin-top: -40px;
	background-color:#CCCCFF;
	font-size:20pt;
	font-color:green;
	
	text-align: center;
}
#next
{
	height:40px;
	width: 200px;
	//margin-left: 800px;
	//margin-top: -40px;
	background-color:#CCCCFF;
	font-size:20pt;
	font-color:green;
	
    text-align: center;
}
#last
{
	height:40px;
	width: 200px;
	//margin-left: 1000px;
	//margin-top: -40px;
	background-color:#CCCCFF;
	font-size:20pt;
	font-color:green;
	
	text-align: center;
}
#close
{
	height:40px;
	width: 125px;
	//margin-left: 1200px;
	//margin-top: -40px;
	background-color:#CCCCFF;
	font-size:20pt;
	font-color:green;
	
	text-align: center;
}
#tab2
{
	margin-left: 900px;
	margin-top: -370px;
	width: 300px;
	

	
}
#tab1
{
	margin-top: 20px;
	width: 300px;
	
}
#tab3
{
	width: 300px;
	
	margin-left: 480px;
	margin-top: -440px;
}
.remarks
{
	margin-top: 0px;
	width:10px;
	margin-left: 900px;
	color: black;
	
	
}
.remarks > input {
	width: 300px;
	height: 150px;
	text-align: top;
	font-weight: bold;
	padding-top: 0px;
	padding-left: 0px;
	line-height: 10px;
	
	
}
.tab3
{
	width:20px;
	height:100px;
}
.button{
	margin-top: -100px;
	margin-left: 550px;
	width: 200px;
  text-align: center;
  padding: 10px 5px;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 3px; 
  background-color: gray; 
  -webkit-box-shadow: 0 3px rgba(58,87,175,.75); 
  -moz-box-shadow: 0 3px rgba(58,87,175,.75); 
  box-shadow: 0 3px rgba(58,87,175,.75);
  transition: all 0.1s linear 0s; 
  top: 0px;
  position: relative;
}
.button:hover {

  top: 1px;
  background-color:green;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  
}

